<div class="row">
  <% ad.each do |a| %>
    <div class=" col-md-3 ">
      <div class="thumbnail phone-thumbnail">
      <%= link_to ad_path(a) do %>
        <%= image_tag a.pictures.first.avatar_url, :style => "width: 200px; height: 200px;" %>
      <% end %>
      <div class="caption">
        <ul class="cell-info">
          <li><h4 class="phone-name"><%=a.title%></h4> </li>
          <li><h4>CAD <%=a.price%></h4></li>
        </ul>
        <p><%=a.description%></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
