<div class=" container padding-corrected ">
  <div class="row">
    <div id="filters-sidebar" class="col-lg-2">
    
      <div class="row filter">
        <h3> FILTERS</h3> 
      </div> <!-- end of filters heading -->

      <div class="row filter">
        <h4 class="filter-heading">Brand</h4>
        <ul class="filter-list">
          <% @brands.each do |brand| %>
            <li> 
            <%= link_to brand.brand_name, '#' %> (<%= brand.ads.size %>)
            </li>
          <%end%>
        </ul>
      </div> 

      <div class="row filter">
        <h4 class="filter-heading">Carriers</h4>
        <ul class="filter-list">
          <% @carriers.each do |carrier| %>
            <li> 
            <%= link_to carrier.carrier_name, '#' %> (<%= carrier.ads.size %>) </li>
          <%end%>
        </ul>
      </div> 

      <div class="row filter">
        <h4 class="filter-heading">Price</h4>
        <div class="form-group">
          <input type="text" class="form-control price-range" placeholder="Min">
          to
          <input type="text" class="form-control price-range" placeholder="Max">
        </div>
      </div> 

      <div class="row filter">
        <h4 class="filter-heading">Conditions</h4>
        <ul class="filter-list">
          <li class= "active-filter"><a href="">Never used</a> (3)</li>
          <li><a href="">Like new </a> (20)</li>
          <li><a href="">Great</a> (300)</li>
          <li><a href="">Good</a> (121)</li>
          <li><a href="">Functional</a> (13)</li>
          <li><a href="">Turns on</a> (1)</li>
        </ul>
      </div>  

       
    </div> <!--end of filters column  -->

    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg-6">
          <p>
            <h3>Canada &raquo Ontario &raquo Toronto</h3> 
          </p>
        </div>
        <div class="col-lg-6">
          <div  class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <span class = "glyphicon glyphicon-sort-by-attributes-alt"></span> Sort by
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lowest Price</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Best conditions</a></li>
            </ul>
          </div> 
        </div>
      </div><!-- end of navigation row -->
      
      <% @ads.each_slice(4) do |ads| %>
        <div class="row">
          <% ads.each do |ad| %>
            <div class=" col-md-3 ">
              <div class="thumbnail phone-thumbnail">
                <%= link_to ad_path(ad) do %>
                  <img class="model-image" src="/assets/bberry.jpg" alt="bberry">
                <%end%>
                <div class="caption">
                  <ul class="cell-info">
                    <li><h4 class="phone-name"><%=ad.title%></h4> </li>
                    <li><h4> $<%=ad.price%></h4></li>
                  </ul>
                  <p><%=ad.description%></p>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      <%end%>
    </div> <!-- end of ads column -->
  </div> <!-- end of main row --> 
</div> <!-- end of container corrected padding -->

