<div class="container">
  <div class="row">
    <h2 id="ad_placement">Place your add</h2>
      <%= bootstrap_form_for(@ad) do |f| %>
        <%= f.text_field :title %>
        <%= f.number_field :price %>
        <%= f.collection_select(:brand_id, Brand.all, :id, :brand_name, :include_blank => 'Please select a brand') %>
        <%= f.text_field :phone_name %>
        
        <%= f.submit 'Create Ad!' %>
      <% end %> <!-- end of the ad form -->
  </div> <!-- end of row -->
</div> <!-- end of container -->