<div class="container padding-corrected">
  <div class="row">
    <div class="col-lg-4">
      <ul class="user-info">
        <li><strong>Name:</strong> <%= @user.name %></li>
        <li><strong>Location:</strong> <%= @user.city %>, <%= @user.province %></li>
        <li><strong>Email:</strong> <%= @user.email %></li>
        <li><strong>Phone:</strong> <%= @user.phone_number %></li>
      </ul>
    </div> <!-- End of user info -->
  </div> <!-- end of header row -->

  <h4><%= "#{@user.name}'s activities:" %></h4></br>

  <ul class="nav nav-tabs">
    <li class="<%= 'active' if params[:tab].nil? %>">
      <%= link_to "Ads (#{@user.ads.size})", profile_path(@user) %>
    </li>
  </ul>

  <% @user.ads.each do |ad| %>
    <%= render 'ads/ad', ad: ad %>
  <% end %>

    </div> <!-- end of first row -->
</div> <!-- end of big wrapper container -->
